<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	data-layout-decorate="~{header-footer}">

<head>
<meta charset="utf-8">
</head>

<body>

	<div layout:fragment="content">		

		<!-- main-container start -->
		<!-- ================ -->
		<section class="main-container">

			<div class="container" style="back">
			
				<ul class="nav nav-tabs" role="tablist">
					<li><a href="/searchUser">ALL</a></li>
					<li><a href="/searchUser?platform=0"><small>Github</small></a></li>
					<li><a href="/searchUser?platform=1"><small>Stackoverflow</small></a></li>
					<li><a href="/searchUser?platform=2"><small>Topcoder</small></a></li>
					<li><a href="/searchUser?platform=3"><small>CSDN</small></a></li>
				</ul>				
				
				<form class="form-inline" role="form" action="/searchUser" method="post">			
					<select class="form-control" style="width:200px" name="type">
						<option value="0" th:selected="${type==0}">By Profile</option>
						<option value="1" th:selected="${type==1}">By Skills</option>
					</select>		
					<div class="form-group has-feedback">
						<input name="content" type="text" class="form-control" placeholder="Search Users(elements should be combined with ',')" style="width:850px" th:value="${content}">
						<i class="fa fa-search form-control-feedback"></i>
					</div>
					<input name="platform" id="platform" type="hidden" th:value="2"></input>
				</form>	
								
				
				<div id="details" class="space" style="margin-left: 400px">
					<h2 th:text="${numUsers} + ' users'"></h2>
				</div>
											
				<div  id="list" style="margin-top:20px">		
					<div class="list-with-image row" th:each="user,users:${users}">
						<div class="overlay-container col-md-2">
							<img alt="用户头像" th:attr="src=@{${user.photoLink}}"> 
						</div>
						<div class="profile col-md-7">
							<h2>
								<span th:text="${user.name}"></span>
								<div class="btn btn-wo btn-light-gray" th:text="${user.platform}"></div>
							</h2>
							<p th:if="${user.country}" class="small">
								<i class="fa fa-map-marker pr-10"></i>
								<span th:text="${user.country}"></span>
							</p>
							<p>
								<span  th:each="skill,skills:${user.skills}">
									<span class="tips" th:text="${skill}" th:unless="${skill eq ''}">java</span>
								</span>
							</p>
						</div>
						<div class="col-md-2">
							<button th:onclick="'javascript:window.open(\''+${user.analyseUrl}+'\')'" class="btn btn-white">能力分析</button>
						</div>
					</div>			
				</div>
				
				<div class="clearfix"></div>
				
				<input id="pageId" type="hidden" th:value="${pageId}"></input>
				<input id="numPages" type="hidden" th:value="${numPages}"></input>

				<!-- pagination start -->
				<ul class="pagination">
					<li id="prePage"><a th:href="@{'/searchUser?type='+${type}+'&content='+${content}+'&pageId='+${pageId-1}}"><<</a></li>
					<li class="active"><a href="#" th:text="${pageId}">0</a></li>
					<li id="nextPage"><a th:href="@{'/searchUser?type='+${type}+'&content='+${content}+'&pageId='+${pageId+1}}">>></a></li>
					<li><span th:text="'共'+${numPages}+'页'"></span></li>
				</ul>
				<!-- pagination end -->						
				
			</div>
		</section>
		<!-- main-container end -->

	</div>
	<!-- 修改目录 -->
	<div layout:fragment="function">			
	<script type="text/javascript">
	
	$(function() {
		/* 选择搜索开发者标签  */
		$('#search').addClass("active");
		$('#searchUsers').addClass("active");
		var pageId = $("#pageId").val();
		var numPages = $("#numPages").val();
		var platform = $("#platform").val();
		$('li')[platform+1].addClass("active");
		if(pageId == 1){
			$("#prePage").addClass("disabled");
			$("#prePage").children("a").attr("href","#");
		}
		if(pageId == numPages){
			$("#nextPage").addClass("disabled");
			$("#nextPage").children("a").attr("href","#");
		}
	});
	
	</script>			
	</div>


</body>

</html>