<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	data-layout-decorate="~{header-footer}">

<head>
<meta charset="utf-8">
	<script src="/js/dist/echarts.js"></script>
</head>

<body>

	<div layout:fragment="content" class="show-user container">
		<div  class="row">
			<div class="col-md-3 user-info">
				<div class="image-container">
					<img th:src="@{/images/team-member-2.jpg}" alt="user image" title="user image">
				</div>
				<div class="user-name">
					<span class="name" th:text="${login}"></span>
					<div id="userId" hidden th:text="${userId}"></div>			
					<span class="user-type" th:text="${type}"></span>
				</div>
				<div class="platform">
					<a th:href="'javascript:window.open(\'https://github.com/'+${login}+'\')'"><i class="fa fa-home pr-5"></i>GitHub</a>
				</div>
				<div>
					<i class="fa fa-sign-in pr-5"></i><span th:text="'Member since ' + ${creationDate}"></span>
				</div>
				<div th:if="${country}">
					<i class="fa fa-map-marker pr-5"></i>
					<span th:text="${country}"></span>
					<span th:if="${city}" th:text="', '+${city}"></span>
				</div>
				<div th:if="${company}">
					Company<span th:text="': '+${company}"></span>
				</div>
			</div>
			<div class="col-md-9 content">
				<!-- tabs start -->
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#htab1" role="tab" data-toggle="tab">Ability</a></li>
					<li><a id="numProjects" href="#htab2" role="tab" data-toggle="tab">Repositories</a></li>
					<li><a id="showGraph" href="#htab3" role="tab" data-toggle="tab">Developer Graph</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="htab1">
						<div class="row">
							<div class="col-md-6">
								<div class="title">Contributions</div>
								<div class="space-bottom"></div>
								<div id="contributions" style="height: 200px"></div>
							</div>
							<div class="col-md-6">
								<div class="title">Collaborations</div>
								<div class="space-bottom"></div>
								<div id="collaborations" style="height: 200px"></div>
							</div>
						</div>
						<div class="space-bottom"></div>
						<div class="title">Skills</div>
						<div class="space-bottom"></div>
						<div id="skill-details"></div>
						<div class="row" id="skill-chart">
							<div class="col-md-8 skill-cloud">
								<div id="skill-cloud" style="height: 315px"></div>
							</div>
							<div class="col-md-4 skill-radar">								
								<div id="skill-radar" style="width: 315px ;height: 315px"></div>
							</div>
						</div>
						<h2 id="numSkills">技能列表（7）</h2>
						<div class="row" style="background-color: #DBDBDB; margin:0">
							<div class="col-md-4 skill-bar">
								<div id="skill-bar1" style="height: 200px"></div>
							</div>
							<div class="col-md-4 skill-bar">		
								<div id="skill-bar2" style="height: 200px"></div>
							</div>
							<div class="col-md-4 skill-bar">	
								<div id="skill-bar3" style="height: 200px"></div>	
							</div>
						</div>
						<div class="space-bottom"></div>
					</div>
					<div class="tab-pane fade" id="htab2">
						<!-- html模板  start -->
						<textarea style="display:none;">
							<div class="list-project row">
								<div class="part1 col-md-9">
									<h2><a href="javascript:window.open('$url$')">$name$</a></h2>
									<p>$descriptor$</p>	
									<p class="small">
										<i class="fa fa-circle pr-10 red"></i>$language$  
										<i class="fa fa-folder-open pr-10 pl-20"></i>Create at $created_at$ 
										<!-- <i class="fa fa-clock-o pr-10 pl-20"></i>Last updated $updated_at$ -->
									</p>
								</div>
								<div class="part2 col-md-3">
									<a href="javascript:window.open('/github/showProject?Id=$projectId$')" class="btn radius btn-primary btn-sm">协作分析</a>
								</div>
							</div>
						</textarea>							
						<!-- html模板 end -->	
						<div id="activity-details"></div>				
						<div class="title" id="numOwns">Owns</div>
						<div id="owns-projects"></div>
						<div class="read-more" id="more-owns"> > > > > > > > > > > More > > > > > > > > > ></div>
						<div class="space-bottom"></div>
						<div class="space-bottom"></div>		
						<div class="title" id="numStars">Stars</div>
						<div id="stars-projects"></div>	
						<div class="read-more" id="more-stars"> > > > > > > > > > > More > > > > > > > > > ></div>
						<div class="space-bottom"></div>
					</div>
					<div class="tab-pane fade" id="htab3">
						<div id="graph-details"></div>
						<div id="graph" style="height:600px;width:915px">此位置显示关系图谱</div>
					    <script type="text/javascript">
					    	var f = false;
					    	$("#showGraph").click(function(){
					    		if(f) return;
					            // 路径配置
					            require.config({
					                paths: {
					                    echarts: '/js/dist'
					                }
					            });
					            
					            // 使用
					            require(
					                [
					                    'echarts',
					                    'echarts/chart/force' 
					                ],
					                function (ec) {
					                    // 基于准备好的dom，初始化echarts图表
					                    var myGraph = ec.init(document.getElementById('graph')); 
						                myGraph.showLoading({ text : "Loading..." });
					                    					                    
					    				var option = optionGraph;
					
					    	 			$.ajax({ 
					    	               type : "get", 
					    	               async : true, //异步执行
					    	               url : "/api/github/subResourceGraph", 
					    	               data : {
					    	   				"Id" : userId,
					    	   				"type" : 'user',
					    	   				"limit" : 20
					    	   				}, 
					    	               dataType : "json", //返回数据形式为json
					    	               success : function(data) { 
					    	                   if (data) { 
					    	                	   var cat = [{name: 'Center Developer', itemStyle: style[0][0]},{name: 'Developer', itemStyle: style[0][1]}], nodes = [], links = [];
					    		                   	for(var item in data.nodes){
					    		                   		var temp = {category: 0, name: '', value: 10};
					    		                   		var k = data.nodes[item].category;
					    		                   		temp.category = k;
					    		                   		temp.name = data.nodes[item].name;
					    		                   		temp.value = 10/(1+k);
					    		                   		nodes.push(temp);
					    		                   	}
					    		                   	for(var item in data.links){
					    		                   		var temp = {source : 0, target : 1, weight : 1, name : "", history: [{name:"titl1",url:"#"}], itemStyle: style[1][0]};
					    		                   		var link = data.links[item];
					    		                   		temp.source = link.target;
					    		                   		temp.target = link.source;
					    		                   		temp.weight = parseInt(Math.random()*100);
					    		                   		temp.name = link.name;
					    		                   		temp.history = link.history;
					    		                   		temp.itemStyle = style[1][link.type];
					    		                   		console.log(temp);
					    		                   		links.push(temp);
					    		                   	}
					    		                   	//option.series[0].minRadius = 20;
					    		                   	option.series[0].maxRadius = 30;
					    		                   	option.series[0].categories = cat;
					    		                   	option.legend.data = ['Center Developer','Developer'];
					    		                   	option.series[0].nodes = nodes;
					    		                   	option.series[0].links = links;
					    		                   	
					    			                myGraph.setOption(option); 
					    			                myGraph.hideLoading();
					    	                   }
					    	               }, 
					    	               error : function(errorMsg) { 
					    						$("#graph-details").empty().append("<h2>对不起，关系图谱请求失败！</h2>");
					    	               } 
					    	            });   
					    				
					    				var ecConfig = require('echarts/config');
					    				function focus(param) {
					    				    var data = param.data;
					    				    var links = option.series[0].links;
					    				    var nodes = option.series[0].nodes;
					    				    if (
					    				        data.source != null
					    				        && data.target != null
					    				    ) { //点击的是边
					    				        var sourceNode = nodes[data.source];
					    				        var targetNode = nodes[data.target];
					    				        console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');
					    				    } else { // 点击的是点
					    				        console.log("选中了" + data.name + '(' + data.value + ')');
					    				    }
					    				}
					    				myGraph.on(ecConfig.EVENT.CLICK, focus)
					    				
					    				myGraph.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
					    				});                  
					            
					                }
					            );
					            f = true;
							});
					    </script>
						<div class="space-bottom"></div>		
					</div>
					
				</div>
				<!-- tabs end -->
			</div>
		</div>
	</div>
	<!-- 修改目录 -->
	<div layout:fragment="function">
		<script type="text/javascript">
			var userId = $("#userId")[0].innerText;
			var pageId = [1,1], numProjects = 0;
			
			function searchProject(type){
				$.ajax({
					type : "get",
					async : false,
					url : "/api/github/getProjectBaseUser",
					data : {
						"userId" : userId,
						"type" : type,
						"pageId" : pageId[type],
						"pageSize" : 15
					},
					dataType : "json",
					success : function(data) {
						if (data) {
							var result = data.projects;
							var numPages = data.numPages;
							if(pageId[type]==1) numProjects += data.numProjects;
							pageId[type]++;
							
							switch(type){
							case 0:
								if(pageId[type]>numPages) $("#more-owns").hide();
								var htmlList = $("#owns-projects")[0].innerHTML, htmlTemp = $("textarea")[0].value;
								result.forEach(function(object) {	
									var str = object.name;
									str = str.replace(/</g,'&lt;');
									str = str.replace(/>/g,'&gt;');
									object.name = str;
									object.url = "https://github.com/" + object.url.substring(29);
									
								    htmlList += htmlTemp.temp(object);
								});
								$("#numOwns")[0].innerHTML = 'Owns（'+data.numProjects+'）';
								$("#owns-projects")[0].innerHTML = htmlList; 
								break;
							case 1:
								if(pageId[type]>numPages) $("#more-stars").hide();
								var htmlList = $("#stars-projects")[0].innerHTML, htmlTemp = $("textarea")[0].value;
								result.forEach(function(object) {	
									var str = object.name;
									str = str.replace(/</g,'&lt;');
									str = str.replace(/>/g,'&gt;');
									object.name = str;
									
								    htmlList += htmlTemp.temp(object);
								});
								$("#numStars")[0].innerHTML = 'Stars（'+data.numProjects+'）';
								$("#stars-projects")[0].innerHTML = htmlList; 
							}
						} else {
							$("#activity-details").empty().append("<h2>对不起，您查找的用户不存在，请重新</h2>");
						}
					},
					error : function(errorMsg) {
						$("#activity-details").empty().append("<h2>对不起，服务器请求失败！</h2>");
					}
				});

			};
			searchProject(0);
			searchProject(1);
			$("#numProjects")[0].innerHTML = 'Repositories ('+numProjects+')';
			$("#more-owns").click(function(){
				searchProject(0);
			});
			$("#more-stars").click(function(){
				searchProject(1);
			});			
		
	        // 路径配置
	        require.config({
	            paths: {
	                echarts: '/js/dist'
	            }
	        });	        
	        // 使用
	        require(
	            [
	                'echarts',
	                'echarts/chart/bar',
	                'echarts/chart/wordCloud',
	                'echarts/chart/radar' 
	            ],
	            function (ec) {
	                // 基于准备好的dom，初始化echarts图表
	                var conChart = ec.init(document.getElementById('contributions')); 
	                conChart.showLoading({ text : "Loading..." });
			        var colChart = echarts.init(document.getElementById('collaborations'));
			        colChart.showLoading({ text : "Loading..." }); 
	                var myCloud = ec.init(document.getElementById('skill-cloud')); 
	                myCloud.showLoading({ text : "Loading..." });

                	var conOption0 = conOption, colOption0 = colOption, optionC0 = optionC, optionR0 = optionR, optionB0 = optionB;
	                var b0=0, bar0=[{'name':[],'value':[]}, {'name':[],'value':[]}, {'name':[],'value':[]}];
	                var n=0, max=10;
	                
		 			$.ajax({ 
		               type : "get", 
		               async : false, //同步执行 
		               url : "/api/getESUser", 
		               data : {
		   				"userId" : userId,
		   				"platform" : 0
		   				}, 
		               dataType : "json", //返回数据形式为json
		               success : function(data) { 
		                   if (data) { 
		                   	var con = []; 
		                   	con.push(data.contributions['comments_num']);
		                   	con.push(data.contributions['issues_num']);
		                   	con.push(data.contributions['prs_num']);
		                   	con.push(data.contributions['commits_num']);
		                   	con.push(data.contributions['repos_num']);
		                   	conOption0.yAxis.data = ['Comments','Issues','Pull\nRequests','Commits','Repositories'];
		                   	conOption0.series[0].data = con;
		                    
		                   	var col = []; 
		                   	col.push(data.collaborations['starred_num']);
		                   	col.push(data.collaborations['followers_num']);
		                   	col.push(data.collaborations['commented_num']);
		                   	col.push(data.collaborations['forked_num']);
		                   	colOption0.xAxis.data = ['Starred','Followers','Commented','Forked'];
		                   	colOption0.series[0].data = col;
		                	
		                   	var skills = [];
		                   	for(var item in data.skills.tag){
			                   	data.skills.tag[item].forEach(function(obj) {
			                   		skills.push(obj);
								});
		                   	}
                   			//console.log(skills);
		                   	
		                	var result = [];	
		                	var topN = [], nValue = [];
		                	
	                   		skills.forEach(function(skill){
		                   		var w = { name: "None",value: 10,itemStyle: { normal:{ color:'black' } } };
	                   			if(skill.length==0){
			                   		result.push(w);
	                   			} else{
		                   			var res = lineFeed(skill,12);
		                   			var nameR = res.result, count = res.count, v = 5;
		                   			w.name = nameR;
		                       		w.value = v*4;
			                   		w.itemStyle = createRandomItemStyle();  
		                   			result.push(w);
		                   			
			                		bar0[b0%3].name.unshift(nameR);
			                		bar0[b0%3].value.unshift(v);
			                		b0++;
			                		
		                   			if(n<6){
		                   				var tr = { text: '', max:10 };
		                   				tr.text = nameR;
		                   				for(var j=0;j<count;j++) tr.text += '\n';
		                   				tr.max = max;
		                   				nValue.push(v);
		                   				n = topN.push(tr);
		                   			}	                   				
	                   			} 
	                   		}); 
		                   	
		                   	optionC0.title.text = '技能云（'+(b0).toString()+'）';
		                   	optionC0.series[0].data = result;
		        			optionR0.title.text = '技能雷达（'+n.toString()+'）';
		        			optionR0.polar[0].indicator = topN;
		                	optionR0.series[0].data[0].value = nValue;
		                   } 
		               }, 
		               error : function(errorMsg) { 
							$("#skill-details").empty().append("<h2>对不起，技能数据请求失败！</h2>");
							$("#numSkills").hide();
		               } 
		           });   
	                $('#numSkills').text('技能列表（'+(b0).toString()+'）');
	                var width = 50;
	                if(parseInt((b0+2)/3)>0)
	                	$('#skill-bar1').height(parseInt((b0+2)/3)*width);
	                else $('#skill-bar1').hide();
	                if(parseInt((b0+1)/3)>0)
	               		$('#skill-bar2').height(parseInt((b0+1)/3)*width);
	                else $('#skill-bar2').hide();
	                if(parseInt((b0)/3)>0)
	               		$('#skill-bar3').height(parseInt(b0/3)*width);
	                else $('#skill-bar3').hide();
	        
	                // 为echarts对象加载数据 
	                conChart.setOption(conOption0);
	                conChart.hideLoading();
			        colChart.setOption(colOption0);
			        colChart.hideLoading();
			        optionC0.tooltip.formatter = '{b}';
					myCloud.setOption(optionC0);
					myCloud.hideLoading();
			        if(n==0) $("#skill-chart").hide();
	                if(n>2){
		                var myRadar = ec.init(document.getElementById('skill-radar')); 
				        optionR0.tooltip.show = false;
		                myRadar.setOption(optionR0); 	                	
	                }
	                var optionB0 = optionB;
	                optionB0.xAxis.max = max;
			        optionB0.series[0].itemStyle.normal.label.show = false;
	   		        var myBar1 = echarts.init(document.getElementById('skill-bar1'));  
	   		        optionB0.yAxis.data = bar0[0]['name'];
	   		        optionB0.series[0].data = bar0[0]['value'];
	   		    	myBar1.setOption(optionB0);
	   		        var myBar2 = echarts.init(document.getElementById('skill-bar2'));  
	   		        optionB0.yAxis.data = bar0[1]['name'];
	   		        optionB0.series[0].data = bar0[1]['value'];
	   		     	myBar2.setOption(optionB0);
	   		        var myBar3 = echarts.init(document.getElementById('skill-bar3'));  
	   		        optionB0.yAxis.data = bar0[2]['name'];
	   		        optionB0.series[0].data = bar0[2]['value'];
	   		    	myBar3.setOption(optionB0);
	            }
	        );
		</script>
	</div>

</body>

</html>